backend:
  name: git-gateway
  branch: master

media_folder: "images/uploads"

collections:
  - name: "friends" # Used in routes, e.g., /admin/collections/blog
    label: "Friend" # Used in the UI
    folder: "_friends" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{name_slug}}"
    fields: # The fields for each document, usually in front matter
      - {label: "Name", name: "name", widget: "string"}
      - {label: "Name Slug", name: "name_slug", widget: "string"}
      - {label: "Location", name: "location", widget: "string"}